{% extends "layouts/base.html" %}

{% block title %} Classe {{ classe.nom }} {% endblock %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div>
                <div class="page-header-title">
                    <h5 class="m-b-10">{{ classroom.name }}</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Mes écoles / {{ classroom.school.name }} / {{ classroom.name }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- [ Main Content ] start -->
        <div class="row">
            <!-- Info Classe -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Informations de la classe</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3 text-center">
                                <div class="mb-3">
                                    <i class="feather icon-bookmark f-40 text-c-blue"></i>
                                </div>
                                <h5>Niveau</h5>
                                <p class="text-muted">{{ classroom.level }}</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mb-3">
                                    <i class="feather icon-user f-40 text-c-green"></i>
                                </div>
                                <h5>Professeur principal</h5>
                                <p class="text-muted"></p>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mb-3">
                                    <i class="feather icon-users f-40 text-c-yellow"></i>
                                </div>
                                <h5>Nombre d'élèves</h5>
                                <p class="text-muted">{{ classroom.students.count }}</p>
                            </div>
                            <div class="col-md-3 text-center">
                                <div class="mb-3">
                                    <i class="feather icon-calendar f-40 text-c-red"></i>
                                </div>
                                <h5>Année scolaire</h5>
                                <p class="text-muted">2024-2025</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navigation par onglets -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#eleves">
                                    <i class="feather icon-users mr-2"></i>Élèves
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#matieres">
                                    <i class="feather icon-book mr-2"></i>Matières
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#emploi-du-temps">
                                    <i class="feather icon-calendar mr-2"></i>Emploi du temps
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body tab-content">
                        <div class="tab-pane fade show active" id="eleves">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5>Liste des élèves</h5>
                                <button data-toggle="modal" data-target="#addStudentModal" class="btn btn-sm btn-primary">
                                    <i class="feather icon-plus"></i> Ajouter
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover" id="student-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center align-center"><i class="feather icon-hash"></i></th>
                                            <th class="text-center align-center"><i class="feather icon-user"></i> Nom</th>
                                            <th class="text-center align-center"><i class="feather icon-users"></i> Nom parent</th>
                                            <th class="text-center align-center"><i class="feather icon-settings"></i> Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in classroom.students.all %}
                                        <tr>
                                            <td class="text-center align-center"> {{ forloop.counter }} </td>
                                            <td class="text-center align-center"> {{ student.name }} </td>
                                            <td class="text-center align-center">
                                                {% if student.parent %}
                                                    {{ student.parent.user.get_full_name }}
                                                {% else %}
                                                    <a data-toggle="modal" data-target="#addParentModal" onclick="setAddParentId({{ student.pk }})" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                                        <i class="feather icon-plus"></i>
                                                    </a>
                                                {% endif %}
                                            </td>
                                            <td class="text-center align-center">
                                                <button class="btn btn-sm btn-outline-primary">
                                                    <i class="feather icon-edit"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="matieres">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5>Matières enseignées</h5>
                                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addCourseModal">
                                    <i class="feather icon-plus"></i> Ajouter
                                </button>
                            </div>
                            <div class="row">
                                {% for course in courses %}
                                <div class="col-md-6 col-lg-4 mb-4">
                                    <div class="card subject-card h-100">
                                        <div class="card-body text-center">
                                            <div class="mb-3">
                                                <i class="feather icon-book f-30 text-c-blue"></i>
                                            </div>
                                            <h5>{{ course.name }}</h5>
{#                                            <p class="text-muted">M. Konan</p>#}
                                            <a href="#"><span class="badge badge-primary">Accéder</span></a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="tab-pane fade" id="emploi-du-temps">
                            <div class="d-flex justify-content-between align-items-center mb-3">
                                <h5>Emploi du temps</h5>
                                <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addScheduleModal">
                                    <i class="feather icon-plus"></i> Ajouter
                                </button>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered text-center align-middle">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Heures</th>
                                            {% for day in DAYS|slice:"1:" %}
                                                <th>{{ day.1 }}</th>
                                            {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for timeTable in timeTables %}
                                        <tr>
                                            <td>{{ timeTable.begin_time|time:"H:i" }} - {{ timeTable.end_time|time:"H:i" }}</td>
                                            <td class="bg-light">
                                                <strong>{{ timeTable.course.name }}</strong><br>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    
        <!-- Modal d'ajout d'un éleve -->
        <div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog"
             aria-labelledby="addStudentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addStudentModalLabel">Ajouter un éleve a {{ classroom.name }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'schools:classrooms:add_student' classroom.school_year.school.pk classroom.pk %}">
                        {% csrf_token %}
                        <div class="modal-body">
                                <div class="form-group">
                                    {{ addStudentForm.name }}
                                </div>
                                <span class="text-danger">{{ addStudentForm.name.errors }}</span>
                                <input type="hidden" name="classroom" value="{{ classroom.pk }}">
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
           
        <!-- Modal d'ajout d'un parent -->
        <div class="modal fade" id="addParentModal" tabindex="-1" role="dialog"
             aria-labelledby="addParentModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addParentModalLabel">Ajouter un parent a l'élève</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'schools:classrooms:add_parent' classroom.school_year.school.pk classroom.pk %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                {{ addParentForm.first_name }}
                            </div>
                            <span class="text-danger">{{ addParentForm.first_name.errors }}</span>
                            <div class="form-group">
                                {{ addParentForm.last_name }}
                            </div>
                            <span class="text-danger">{{ addParentForm.last_name.errors }}</span>
                            <div class="form-group">
                                {{ addParentForm.email }}
                            </div>
                            <span class="text-danger">{{ addParentForm.email.errors }}</span>
                            <div class="form-group">
                                {{ addParentForm.phone }}
                            </div>
                            <span class="text-danger">{{ addParentForm.phone.errors }}</span>
                            <input type="hidden" name="student" value="" id="id_student">
                            {{ addParentForm.student.errors }}
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Ajout Matière -->
        <div class="modal fade" id="addCourseModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter une matière</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'schools:classrooms:add_course' classroom.school_year.school.pk classroom.pk %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                {{ courseForm.name }}
                            </div>
                            <div class="form-group">
                                {{ courseForm.coef }}
                            </div>
                            <input type="hidden" name="classroom" value="{{ classroom.pk }}">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Ajouter">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Modal Ajout Emploi du Temps -->
        <div class="modal fade" id="addScheduleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ajouter une séance</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form method="POST" action="{% url 'schools:classrooms:add_time_table' classroom.school_year.school.pk classroom.pk %}">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                {{ timeTableForm.course }}
                            </div>
                            <div class="form-group">
                                {{ timeTableForm.day }}
                            </div>
                            <div class="row">
                                <div class="col form-group">
                                    <label for="id_begin_time">Heure de début</label>
                                    {{ timeTableForm.begin_time }}
                                </div>
                                <div class="col form-group">
                                    <label for="id_end_time">Heure de fin</label>
                                    {{ timeTableForm.end_time }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-primary" value="Ajouter">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    function setAddParentId(parentId) {
        const input = document.getElementById('id_student');
        input.value = parentId;
    }
    let table = new DataTable('#student-table', {
        language: {
            url: '//cdn.datatables.net/plug-ins/2.3.0/i18n/fr-FR.json',
        },
    });
</script>
{% endblock javascripts %}