{% extends "layouts/base.html" %}

{% block content %}
<div class="pcoded-main-container">
    <div class="pcoded-content">

        <!-- [ breadcrumb ] start -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <div>
                <div class="page-header-title">
                    <h5 class="m-b-10">Mes écoles</h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">
                            <i class="feather icon-home"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#!">Mes écoles</a>
                    </li>
                </ul>
            </div>
            <a data-toggle="modal" data-target="#addSchoolModal" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Ajouter une école
            </a>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Ecole 1</h6>
                        <div class="card-header-right">
                            <div class="btn-group card-option">
                                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="feather icon-more-horizontal"></i>
                                </button>
                                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                    <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                                    <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                                    <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> reload</a></li>
                                    <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> remove</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p><span><strong>Période : </strong></span><span>Période</span></p>
                        <a class="btn btn-primary btn-block"
                           href="">
                            Accéder
                        </a>
                    </div>
                </div>
            </div>
            {% for schoolUser in user.schoolUsers.all %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{ schoolUser.school.name }}</h6>
                            <div class="card-header-right">
                                <div class="btn-group card-option">
                                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="feather icon-more-horizontal"></i>
                                    </button>
                                    <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                                        <li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i>Modifier</a></li>
                                        <li class="dropdown-item"><a data-toggle="modal" data-target="#deleteSchoolModal" href="#!" onclick="setDeleteSchoolId({{ schoolUser.school.pk }})"><i class="feather icon-trash"></i>Supprimer</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <p><span><strong>Période : </strong></span><span>
                                {% if schoolUser.school.period == 'trimester' %}
                                    Trimestre
                                {% else %}
                                    Semestre
                                {% endif %}
                            </span></p>
                            <a class="btn btn-primary btn-block"
                               href="{% url 'schools:classrooms:index' schoolUser.school.pk %}">
                                Accéder
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
    
<!-- Modal d'ajout d'une école -->
<div class="modal fade" id="addSchoolModal" tabindex="-1" role="dialog"
     aria-labelledby="addSchoolModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSchoolModalLabel">Ajouter une nouvelle école</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="modal-body">
                        <div class="form-group">
                            {{ addForm.name }}
                        </div>
                        <span class="text-danger">{{ addForm.name.errors }}</span>
                        <div class="form-group">
                            {{ addForm.period }}
                        </div>
                        <span class="text-danger">{{ addForm.period.errors }}</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>  
<!-- Modal de mise a jour d'une école -->
<div class="modal fade" id="editSchoolModal" tabindex="-1" role="dialog"
     aria-labelledby="editSchoolModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSchoolModalLabel">Mise à jour de l'école</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id="schoolUpdateForm">
                {% csrf_token %}
                <div class="modal-body">
                        <div class="form-group">
                            {{ editForm.name }}
                        </div>
                        <span class="text-danger">{{ addForm.name.errors }}</span>
                        <div class="form-group">
                            {{ editForm.period }}
                        </div>
                        <span class="text-danger">{{ addForm.period.errors }}</span>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal suppression d'une école-->
<div class="modal fade" id="deleteSchoolModal" tabindex="-1" role="dialog" aria-labelledby="deleteSchoolModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSchoolModalLabel">Vous allez tout perdre concernant cette école</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Voulez-vous supprimer ce projet ?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
                <form method="POST" id="schoolDeleteForm">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-danger" value="Supprimer">
                </form>
            </div>
        </div>
    </div>
</div>    
{% endblock content %}

{% block javascripts %}
<script>
    function setDeleteSchoolId(schoolId) {
        const form = document.getElementById('schoolDeleteForm');
        form.action = `/schools/${schoolId}/delete/`;
    }
    function setUpdateSchoolId(schoolId) {
        const form = document.getElementById('schoolUpdateForm');
        form.action = `/schools/${schoolId}/update/`;
    }
</script>
{% endblock javascripts %}
