<!DOCTYPE html>
<html lang="fr">

<head>
	<title>EduTrack - Inscription</title>
	{% include "includes/head.html" %}
</head>

<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<img src="/static/assets/images/logo.png" alt="" class="img-fluid mb-4">
		<div class="card borderless">
			<div class="row align-items-center ">
				<div class="col-md-12">
					<div class="card-body">
						<h4 class="mb-3 f-w-400">Connectez-vous</h4>
						<hr>
						{% if msg %}
						<div class="alert alert-danger" role="alert">
							{{ msg }}
						</div>
						<hr>
						{% endif %}
						<form method="POST">
							{% csrf_token %}
							<div class="form-group mb-3">
							  <div class="input-group input-group-alternative">
								{{ form.email }}
							  </div>
							</div>
							<div class="form-group">
							  <div class="input-group input-group-alternative">
								{{ form.password }}
							  </div>
							</div>
							<!-- <div class="custom-control custom-control-alternative custom-checkbox">
							  <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
							  <label class="custom-control-label" for=" customCheckLogin">
								<span class="text-muted">Remember me</span>
							  </label>
							</div> -->
							<div class="text-center">
							  <button type="submit" class="btn btn-primary my-4">Se connecter</button>
							</div>
						</form>
						<hr>
						<!-- <p class="mb-2 text-muted">Mot de passe oublié ? <a href="" class="f-w-400">Réinitialiser.</a></p> -->
						<p class="mb-0 text-muted">Pas de compte ? <a href="{% url 'users:register' %}" class="f-w-400">Inscrivez-vous !</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signin ] end -->

<!-- Required Js -->
{% include "includes/scripts.html" %}

</body>

</html>